.leader-page{

min-height:100vh;
background:#f1f5f9;
padding:40px;

}


.leader-page h1{

text-align:center;
margin-bottom:30px;

}


.leader-container{

max-width:700px;
margin:auto;

}


.leader-card{

background:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:20px;
margin-bottom:15px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}


.rank{

font-size:25px;
font-weight:bold;

}


.score{

font-size:25px;
color:#7c3aed;
font-weight:bold;

}