.profile-page{

min-height:100vh;
background:#f1f5f9;
display:flex;
justify-content:center;
align-items:center;

}



.profile-card{

background:white;
padding:40px;
width:400px;
border-radius:20px;
text-align:center;
box-shadow:0 10px 25px rgba(0,0,0,.1);

}



.profile-card h1{

color:#7c3aed;

}


.info p{

font-size:18px;

}